<!-- component -->
<button
  class="flex items-center justify-center w-20 text-center rounded-lg py-3 border-2 border-black px-6 font-normal text-xs uppercase shadow-md transition-all hover:shadow-lg focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
  data-ripple-light="true"
>
  Registrar gasto
</button>
