<table class="w-1/2 border-collapse border border-gray-300 mx-auto">
  <thead class="bg-gray-100">
    <tr>
      <th class="border border-gray-300 px-4 py-2 font-normal text-center"
        >Tipo</th
      >
      <th class="border border-gray-300 px-4 py-2 font-normal text-center"
        >Cantidad</th
      >
      <th class="border border-gray-300 px-4 py-2 font-normal text-center"
        >Descripción</th
      >
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="border border-gray-300 px-4 py-2 text-center">Ingreso</td>
      <td class="border border-gray-300 px-4 py-2 text-center">S/ 500.00</td>
      <td class="border border-gray-300 px-4 py-2 text-center"
        >Pago de cliente</td
      >
    </tr>
    <tr>
      <td class="border border-gray-300 px-4 py-2 text-center">Gasto</td>
      <td class="border border-gray-300 px-4 py-2 text-center">S/ 120.00</td>
      <td class="border border-gray-300 px-4 py-2 text-center"
        >Compra de materiales</td
      >
    </tr>
    <tr>
      <td class="border border-gray-300 px-4 py-2 text-center">Ingreso</td>
      <td class="border border-gray-300 px-4 py-2 text-center">S/ 200.00</td>
      <td class="border border-gray-300 px-4 py-2 text-center"
        >Venta de producto</td
      >
    </tr>
    <tr>
      <td class="border border-gray-300 px-4 py-2 text-center">Gasto</td>
      <td class="border border-gray-300 px-4 py-2 text-center">S/ 50.00</td>
      <td class="border border-gray-300 px-4 py-2 text-center">Publicidad</td>
    </tr>
  </tbody>
</table>
